<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Editortext</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Editortext.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://cdn.tiny.cloud/1/d46p3gcuo7aq2rerjtt13qlf9gw1t640szlx1xmprp8x1gy3/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#tiny', 
            language: 'es',// Selección del textarea por su ID
            skin: 'oxide-dark', // Tema oscuro para el editor
            plugins: 'lists link image editimage table code export importword exportword formatpainter', // Plugins que deseas usar
            toolbar: 'undo redo | formatpainter | styleselect | bold italic | alignleft aligncenter alignright | bullist numlist outdent indent | link image editimage | code | export exportword | importword', // Herramientas de la barra
            height: 900, // Altura del editor
            width: 1200, // Ancho del editor
            statusbar: false, // Oculta la barra de estado
            menu: {
                file: { title: 'Archivo', items: 'newdocument restoredraft | preview | importword exportpdf exportword | print' },
                edit: { title: 'Editar', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
                view: { title: 'Vistas', items: 'code | visualaid visualchars visualblocks | preview fullscreen' },
                insert: { title: 'Insertar', items: 'image link media inserttable | charmap emoticons hr | pagebreak nonbreaking anchor' },
                format: { title: 'Formato', items: 'bold italic underline strikethrough superscript subscript codeformat | removeformat' },
                tools: { title: 'Herramientas', items: 'spellchecker | code wordcount' },
                table: { title: 'Tablas', items: 'inserttable | cell row column | tableprops deletetable' },
                help: { title: 'Ayuda', items: 'help' }
            },
            export_pdf: {
                service_url: 'https://exportpdf.tiny.cloud/pdf', // Servicio de TinyMCE para exportación
                converter_options: {
                    header_html: '<p>HEADER</p>', // Header personalizado
                    footer_html: '<p>FOOTER</p>', // Footer personalizado
                    header_and_footer_css: 'p { font-size: 12px; color: gray; text-align: center; }', // Estilo CSS para encabezado y pie
                    content_css: 'body { font-family: Arial, sans-serif; font-size: 14px; }' // Estilo CSS para el contenido
                }
            },

            formats: { // Configuración personalizada para el plugin Format Painter
                formatpainter_checklist: {
                    selector: 'ul',
                    classes: 'tox-checklist'
                },
                formatpainter_liststyletype: {
                    selector: 'ul,ol',
                    styles: { listStyleType: '%value' }
                },
                formatpainter_borderstyle: {
                    selector: 'td,th',
                    styles: {
                        borderTopStyle: '%valueTop',
                        borderRightStyle: '%valueRight',
                        borderBottomStyle: '%valueBottom',
                        borderLeftStyle: '%valueLeft'
                    },
                    remove_similar: true
                },
                formatpainter_bordercolor: {
                    selector: 'td,th',
                    styles: {
                        borderTopColor: '%valueTop',
                        borderRightColor: '%valueRight',
                        borderBottomColor: '%valueBottom',
                        borderLeftColor: '%valueLeft'
                    },
                    remove_similar: true
                },
                formatpainter_backgroundcolor: {
                    selector: 'td,th',
                    styles: { backgroundColor: '%value' },
                    remove_similar: true
                },
                formatpainter_removeformat: [
                    {
                        selector: 'b,strong,em,i,font,u,strike,sub,sup,dfn,code,samp,kbd,var,cite,mark,q,del,ins',
                        remove: 'all', split: true, expand: false, block_expand: true, deep: true
                    },
                    {
                        selector: 'span',
                        attributes: ['style', 'class'],
                        remove: 'empty', split: true, expand: false, deep: true
                    },
                    {
                        selector: '*:not(tr,td,th,table)',
                        attributes: ['style', 'class'],
                        split: false, expand: false, deep: true
                    }
                ]
            }
        });
    </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Editortext</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ArchivoEditors" asp-action="Index">Word</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <div class="container">
        <img src="~/lib/images/tiny.png" class="img-fluid" />
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Editortext - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
