@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 mb-5">Tiny</h1>
    <h5>
        <p>
            <a href="https://www.tiny.cloud/docs/tinymce/latest/" target="_blank" rel="noopener noreferrer">Tiny</a>
            is a rich-text editor that allows users to create formatted content within a user-friendly interface.
        </p>
    </h5>

    
</div>
